<div class="panel panel-danger">
	<div class="panel-heading">
		<h3>v.0.0.0.2 - 11/15/2013</h3>
	</div>
	<div class="panel-body">
		<p><strong>Things Changed:</strong></p>
		<ul>
			<li>About Page</li>
			<li>Change Log Page</li>
		</ul>
	</div>	
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<h3>v.0.0.0.1 - 11/15/2013</h3>
	</div>
	<div class="panel-body">
		<p><strong>Things Changed:</strong></p>
		<ul>
			<li>About Page</li>
			<li>Contact Page</li>
			<li>Bootstrap Gems/Stylesheets</li>
		</ul>
	</div>	
</div>