<div class="panel panel-primary">
	<div class="panel-heading">
		<h5>v.0.0.0.3 - 11/15/2013 | 10 P.M</h5>
	</div>
	<div class="panel-body">
		<p><strong>Things Changed:</strong></p>
		<ul>
			<li>Started to add User Accounts using Devise</li>
			<li>Changed Default Font back to Lato instead of Chivo (which is secondary if Lato doesn't exist anymore)</li>
			<li>Will only post the last 5 versions on change log page until I can get it paginated</li>
		</ul>
	</div>	
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		<h5>v.0.0.0.2 - 11/15/2013 | 8 P.M</h5>
	</div>
	<div class="panel-body">
		<p><strong>Things Changed:</strong></p>
		<ul>
			<li>About Page</li>
			<li>Change Log Page</li>
		</ul>
	</div>	
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<h5>v.0.0.0.1 - 11/15/2013 | 6 P.M</h5>
	</div>
	<div class="panel-body">
		<p><strong>Things Changed:</strong></p>
		<ul>
			<li>Created Rails Project</li>
			<li>About Page</li>
			<li>Contact Page</li>
			<li>Bootstrap Gems/Stylesheets</li>
		</ul>
	</div>	
</div>