<div class="well">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title panel-sm">
				<h1>About this app</h1>
			</div>
		</div>

		<div class="panel-body">
			<p>This application serves two purposes currently, the first is tracking the technicians we have and the second is storing images of labels we assign to the technicians.</p>

			<p>Eventually the goal is to handle the inventory automatically through uploading an image and selecting the tech, which it should then dump into the system.</p>
		</div>

		<div class="panel-footer">
			<p><%= link_to "Change Log", change_log_path %></p>
		</div>
	</div>
</div>