<div class="well">
	<div class="jumbotron center">
		<h1>Welcome to ClearInventory!</h1>

		<%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "Register", new_user_registration_path, class: "btn btn-success btn-lg" %>
	</div>

	<div class="">
		<p>This is content inside of the well, but outside of the jumbotron. How are you guys doing today>?</p>
	</div>
</div>