<div class="jumbotron center">
	<h1>Welcome to ClearInventory!</h1>

	<%= link_to "Login", about_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "Register", about_path, class: "btn btn-success btn-lg" %>
</div>